/* Mobile First */

/* A partir de aquí es para dar estilo par diferentes tamaños de pantalla */

/* Media query para dispositivos TABLET (mayores a 480px) */
@media (min-width: 481px) {
	:root {
		--bg-color: lightcoral;
		--container-width: 85%;
	}

	.logo-header-container img {
		width: 40%;
	}

	.sidebar {
		width: 30%;
	}

	.category-title {
		font-size: 26px;
		padding: 20px;
	}

	.book-card {
		width: 40%;
	}

	.book-card img {
		width: 100%;
	}
}

/* Media query para dispositivos DESKTOP (mayores a 1024px) */
@media (min-width: 1024px) {
	:root {
		--bg-color: beige;
		--container-width: 80%;
	}

	/*---------------- SIDEBAR ----------------*/
	.sidebar {
		display: flex;
		flex-direction: column;

		background-color: #fff;
		color: #000;

		height: 100vh;
		width: 200px;
		padding: 20px;

		box-sizing: border-box;
		position: fixed;
		left: 0;
		top: 0;
		transition: transform 0.3s ease-in-out;
		z-index: 1000;
	}

	.sidebar ul {
		list-style: none;
		padding: 0;
	}

	.sidebar a {
		text-decoration: none;
		display: block;
		margin: 15px 0;
	}

	.sidebar a:hover {
		background-color: #444;
		padding-left: 10px;
	}

	/* .main-content {
		margin-left: 200px;
		padding: 20px;
		width: calc(100% - 200px);
	} */

	.category-title {
		font-size: 30px;
		padding: 40px;
	}

	.book-card {
		width: 20%;
	}

	.book-card img {
		width: 100%;
	}
}

/* Media query para dispositivos DESKTOP XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--bg-color: aquamarine;
		--container-width: 75%;
	}
}
